.modal-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.342);
    .modal {
        background-color: rgb(255, 255, 255);
        position: fixed;
        top: 2em;
        left: 2em;
        bottom: 2em;
        right: 2em;
    }
}