@import "./login-form.scss";
@import "./alert-box.scss";
@import "./card.scss";
@import "./navigation-bar.scss";
:root {
    box-sizing: border-box;
}
*,
::after,
::before {
    box-sizing: inherit;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
}